/**
 * PackItRightNow - Twenty Seventeen
 * About Excerpt CSS
 */

.about-excerpt {
	& {
		padding-bottom: 100px;
	}

	h2 {
		text-align: center;
		font-weight: 300;
		margin-bottom: 30px;
		background-color: #157702;
		margin: 0 0 100px 0;
		color: #fff;
		padding: 15px 0;
		border-top: 2px solid #333;
		border-bottom: 2px solid #333;
	}

	p {
		text-align: center;
		font-size: 16px;
		line-height: 1.5;
		max-width: 800px;
		margin: 0 auto;
	}
}
