/**
 * PackItRightNow - Twenty Seventeen
 * Contact SCSS
 */

.contact {
	& {
		padding: 250px 0 60px;
		max-width: 800px;
	}

	.image {
		padding-bottom: 40%;
		margin-bottom: 30px;
	}

	.image .source {
		background-position: center;
	}

	.error {
		& {
			display: none;
		}

		&.show-message {
			display: block;
		}
	}

	.alert-danger,
	.alert-success {
		padding: 10px;
		border-radius: 4px;
	}

	p,
	a,
	label {
		margin: 0;
		font-size: 16px;
		font-weight: $font-weight-light;
	}

	.excerpt {
		& {
			text-align: center;
			margin-bottom: 30px;
		}

		& + p {
			margin-bottom: 10px;
		}
	}

	.contact-btn {
		& {
			background-color: $japanese-laurel;
			border: none;
			font-size: 16px;
			font-weight: $font-weight-light;
			transition: opacity 0.15s ease-in-out;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}
