/**
 * PackItRightNow - Twenty Seventeen
 * Featured Products SCSS
 */

.featured-products {
	& {
		margin-bottom: 100px;
	}

	h2 {
		text-align: center;
		font-weight: $font-weight-light;
		margin-bottom: 30px;
		background-color: $japanese-laurel;
		margin: 0 0 100px 0;
		color: $white;
		padding: 15px 0;
		border-top: 2px solid $mine-shaft;
		border-bottom: 2px solid $mine-shaft;

	}

	.featured-product-item {
		& {
			padding-bottom: 60px;
		}

		figure:hover {
			opacity: 0.8;
		}
	}

	h4 {
		margin-bottom: 0;
		margin-top: 30px;
		font-size: 20px;
		text-align: center;

		@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
			font-size: 16px;
		}

		@media only screen and ( max-width: 479px ) {
			font-size: 14px;
		}
	}
}
