/**
 * PackItRightNow - Twenty Seventeen
 * Archive Parent CSS
 */

.archive.parent .preface {
	border-bottom: 2px solid #157702;
}

.archive.parent .content {
	margin-top: 100px;
}

.archive.parent .content-item h4 {
	margin-bottom: 0;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}

.archive.parent .content-item {
	padding-bottom: 60px;
}

.archive.parent .content-item figure:hover {
	opacity: 0.8;
}
