/**
 * PackItRightNow - Twenty Seventeen
 * Carousel CSS
 */

.carousel-container {
	background-color: #f2fff7;
	padding-top: 45px;
}

.carousel-container .container {
	position: relative;
}

.carousel-container i {
	position: absolute;
	top: 45%;
	font-size: 40px;
	color: #333;
	cursor: pointer;
}

@media only screen and ( max-width: 767px ) {
	.carousel-container i {
		display: none;
	}
}

.carousel-container i.ion-chevron-left {
	left: -45px;
}

.carousel-container i.ion-chevron-right {
	right: -45px;
}

.carousel .image {
	padding-bottom: 40%;
	min-height: 355px;
}

.carousel .image .source {
	background-size: cover;
	background-position: center;
}
