/**
 * PackItRightNow - Twenty Seventeen
 * Carousel CSS
 */

.carousel-container {
	background-color: #f2fff7;
	padding-top: 210px;
}

.carousel-container .container {
	position: relative;
}

.carousel .image {
	padding-bottom: 25%;
	min-height: 355px;
}

.carousel .image .source {
	background-size: cover;
	background-position: center;
}
