/**
 * PackItRightNow - Twenty Seventeen
 * Carousel CSS
 */

.carousel.slick-dotted {
	/*margin-bottom: 60px;*/
	margin: 60px 0;
}

.carousel .image {
	padding-bottom: 40%;
	position: relative;
}

.carousel .image .source {
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
