/**
 * PackItRightNow - Twenty Seventeen
 * Carousel CSS
 */

.carousel.slick-dotted {
	margin: 60px 0 120px;
}

.carousel .image {
	padding-bottom: 40%;
	min-height: 355px;
}

.carousel .image .source {
	background-size: cover;
}
