/**
 * PackItRightNow - Twenty Seventeen
 * Featured Products CSS
 */

.featured-products {
	margin-bottom: 35px;
}

.featured-products h2 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 30px;
}

.featured-products .row:not(:last-child) {
	margin-bottom: 20px;
}

@media only screen and ( max-width: 767px ) {
	.featured-products .row,
	.featured-products .row:not(:last-child) {
		margin: 0;
	}
}

.featured-products .row .col-xs-12 {
	padding: 0 15px 25px;
}

@media only screen and ( max-width: 767px ) {
	.featured-products .row .col-xs-12 {
		padding: 0 0 15px;
	}
}

.featured-products .image {
	padding-bottom: 100%;
	position: relative;
}

.featured-products .image .source {
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
