/**
 * PackItRightNow - Twenty Seventeen
 * Featured Products CSS
 */

.featured-products {
	margin-bottom: 100px;
}

.featured-products h2 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 30px;
}

.featured-products .featured-product-item {
	padding-bottom: 60px;
}

.featured-products h4 {
	margin-bottom: 0;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
