/**
 * PackItRightNow - Twenty Seventeen
 * Menu CSS
 */

.menu {
	display: flex;
	opacity: 1;
	visibility: visible;
	transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}

@media only screen and ( max-width: 991px ) {
	.menu {
		opacity: 0;
		visibility: hidden;
	}
}

.menu a {
	color: #fff;
	display: flex;
	align-items: center;
	padding: 0 20px;
	font-size: 16px;
	transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.menu a:hover {
	background-color: #fff;
	color: #157702;
}
