/**
 * PackItRightNow - Twenty Seventeen
 * Mobile Menu CSS
 */

#mobile-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	background: rgba( 0, 0, 0, .65 );
	opacity: 0;
	visibility: hidden;
	transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
	z-index: -10;
}

#mobile-menu.load {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}

#mobile-menu .container {
	position: relative;
}

#mobile-menu i {
	position: absolute;
	right: 15px;
	color: #fff;
	cursor: pointer;
}

#mobile-menu .menu {
	opacity: 1;
	visibility: visible;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

#mobile-menu .menu a {
	font-size: 32px;
	margin: 10px 0;
	padding: 0;
	cursor: pointer;
}

#mobile-menu .menu a:hover {
	background-color: transparent;
	color: #157702;
}

#mobile-menu .sub-menu {
	opacity: 0;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 0;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, height 0.2s ease-in-out;
}

#mobile-menu .sub-menu.load {
	height: 135px;
	opacity: 1;
	visibility: visible;
}

#mobile-menu .sub-menu a {
	margin: 0;
	font-size: 24px;
}
