/**
 * PackItRightNow - Twenty Seventeen
 * Archive CSS
 */

.archive {
	padding: 60px 15px 0;
}

.archive .preface {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
}

@media only screen and ( max-width: 767px ) {
	.archive .preface {
		flex-direction: column;
		padding: 60px 0;
	}

	.archive .preface > div {
		padding: 0;
	}

	.archive:not(.gloves) .preface > div:last-child,
	.archive.gloves .preface > div:nth-child(2) {
		margin-top: 40px;
	}

}

.archive .preface h2 {
	font-size: 40px;
	margin: 0;
}

.archive .preface h2 + p {
	font-size: 18px;
	margin-top: 20px;
}

.archive .preface ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 50%;
	float: right;
}

@media only screen and ( max-width: 767px ) {
	.archive .preface ul {
		width: 100%;
		float: none;
	}
}

.archive .preface ul li {
	font-size: 26px;
	line-height: 1;
}

@media only screen and ( min-width: 768px ) {
	.archive.gloves .preface ul li {
		font-size: 18px;
	}
}

.archive .content {
	padding: 40px 0 0;
}

/*--- Toggle every even content class background-color ---*/
.archive .content:nth-child(even) {
	background-color: #f2fff7;
}

/*--- Offset the fixed header when bookmark linking ---*/
.archive .content .anchor {
	padding-top: 75px;
	margin-top: -75px;
}

.archive .content h2 {
	font-size: 32px;
	margin-bottom: 30px;
	margin-top: 0;
	border-bottom: 1px solid #333;
}

.archive .content-item {
	padding-bottom: 60px;
}

.archive .image {
	padding-bottom: 100%;
	position: relative;
}

.archive .image .source {
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.archive .content h3 {
	margin-bottom: 0;
	font-size: 20px;
}
