/**
 * PackItRightNow - Twenty Seventeen
 * Header CSS
 */

.header {
	background-color: #157702;
	position: fixed;
    z-index: 10;
    width: 100%;
}

.header .container {
	position: relative;
	display: flex;
	justify-content: flex-end;
	height: 60.75px;
}

.header .container:before,
.header .container:after {
	display: none;
}

.header .logo {
	position: absolute;
	left: 15px;
}

.header h1 {
	color: #fff;
	font-size: 1.8em;
	font-weight: 300;
}

@media only screen and ( max-width: 767px ) {
	.header h1 {
		font-size: 1.5em;
		margin: .91em 0;
	}
}

.header i {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	color: #fff;
	font-size: 3em;
	top: 10px;
	right: 15px;
	cursor: pointer;
	transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}

@media only screen and ( max-width: 991px ) {
	.header i {
		opacity: 1;
		visibility: visible;
	}
}

/*.header .banner {
	height: 100px;
	position: relative;
}

.header .banner .source {
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}*/
