/**
 * PackItRightNow - Twenty Seventeen
 * Site CSS
 */

body {
	font-family: 'Lato', sans-serif;
	color: #333;
}

h2 {
	color: #333;
}

a {
	color: #333;
	transition: color 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active,
a:focus:active {
	color: #157702;
	text-decoration: none;
}
