/**
 * Pack It Right Now - Twenty Seventeen
 * Variable SCSS
 */

/*--- Descriptive color variables ---*/
$white           : #FFF;
$mine-shaft      : #333;
$japanese-laurel : #157702;
$hint-of-green   : #F2FFF7;

/*--- Font stacks ---*/
$stack-serif              : serif;
$stack-sans-serif         : sans-serif;
$stack-cormorant-garamond : 'Cormorant Garamond', $stack-serif;
$stack-lato               : 'Lato', $stack-sans-serif;

/*--- Font Properties ---*/
$font-weight-light   : 300;
$font-weight-regular : 500;
$font-weight-bold    : 700;
