/**
 * Pack It Right Now - Twenty Seventeen
 * Variable SCSS
 */

/*--- Descriptive color variables ---*/
$white           : #FFF;
$mine-shaft      : #333;
$japanese-laurel : #157702;
$hint-of-green   : #F2FFF7;
