/**
 * PackItRightNow - Twenty Seventeen
 * Archive CSS
 */

.archive {
	padding: 65px 15px 0;
}

.archive .preface {
	background-color: #f2fff7;
}

.archive > .preface,
.archive .no-children .preface {
	border-bottom: 2px solid #333;
}

.archive .preface .container {
	padding: 100px 0;
}

@media only screen and ( max-width: 767px ) {
	.archive .preface .container {
		padding: 60px 0;
	}
}

.archive .preface .heading h2 {
	font-size: 32px;
	font-weight: 700;
	margin: 0;
}

.archive .preface p {
	font-size: 16px;
}

.archive > .preface p {
	margin: 20px 0 0;
}

@media only screen and ( max-width: 767px ) {
	.archive > .preface p {
		margin: 20px 0 0;
	}
}

.archive > .preface .content {
	margin-top: 30px;
}

.archive .preface .content li.active a {
	background-color: #157702;
	font-weight: 300;
}

.archive .preface .content li a {
	font-size: 18px;
}

.archive .tab-content .preface {
	background-color: #fff;
}

.archive .tab-content .preface .container {
	display: flex;
}

@media only screen and ( max-width: 767px ) {
	.archive .tab-content .preface .container {
		flex-direction: column;
	}
}

.archive .tab-content .preface .heading {
	align-self: center;
}

.archive .tab-content .preface p {
	margin: 0;
}

@media only screen and ( max-width: 767px ) {
	.archive .tab-content .preface p {
		margin: 20px 0 0;
	}
}

.archive .child-terms .heading {
	background-color: #f2fff7;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	padding: 15px 0;
}

.archive .child-terms .heading h2 {
	font-weight: 500;
	margin: 0;
	color: #333;
}

.archive .child-terms .heading .anchor {
	margin-top: -75px;
	padding-top: 75px;
}

.archive .child-terms .content,
.archive .no-children > .content {
	padding: 100px 0;
}

.archive .child-terms .content:last-child {
	padding: 100px 0 40px;
}

.archive .content-item {
	padding-bottom: 60px;
}

.archive .content-item h4 {
	margin-bottom: 0;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive .content-item h4 {
		font-size: 16px;
	}
}

@media only screen and ( max-width: 479px ) {
	.archive .content-item h4 {
		font-size: 14px;
	}
}
