/**
 * PackItRightNow - Twenty Seventeen
 * Front Page CSS
 */

.front-page {
	position: relative;
}

/*.front-page .about {
	background-color: #157702;
	margin-left: calc(-100vw / 2 + 500px / 2);
	margin-right: calc(-100vw / 2 + 500px / 2);
}*/

.front-page .about h2 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 30px;
	/*color: #fff;*/
}

.front-page .about p {
	/*color: #fff;*/
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
	max-width: 800px;
	margin: 0 auto;
}
