/**
 * PackItRightNow - Twenty Seventeen
 * Front Page CSS
 */

.front-page {
	position: relative;
}

.front-page .about {
	margin-bottom: 100px;
}

.front-page .about h2 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 30px;
}

.front-page .about p {
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
	max-width: 800px;
	margin: 0 auto;
}
